SUPABASE_URL=https://zwbhlmdcvaifkwgufezj.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3YmhsbWRjdmFpZmt3Z3VmZXpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczOTQzNzksImV4cCI6MjA5Mjk3MDM3OX0.yCuUcSIQgSL0H3rGGkFQEErH_FBpjnr0KcIx3Cp39xw